#main-override {
    position: relative;
    max-width: none;
    height: 100%;
    /* CUIDADO AQUI */
    width: 100%;
}

.header-carousel {
    height: 100% !important;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#slider-container {
    position: relative;
    z-index: 0;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div[class^="slider"] {
    border-radius: 50px;
}

#dialog-image {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--text-muted);
}

#slider-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.header-carousel>#slider-container>div[class^="slider"] {
    background-color: var(--sliders-background);
    position: absolute;
    transition: all 0.5s ease;
    border-radius: 30px;
}


.header-carousel>div[id^="arrow"] {
    scale: 3;
    border: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.header-carousel>div[id^="arrow"]:hover {
    scale: 4;
    opacity: 1;
}

/* ANIMATION-MAIN */
.slider1 {
    top: 50%;
    left: 50%;
    transform: translate(-450%, -50%);
    z-index: 0;
    height: 40%;
    width: 10%;
    opacity: 0.5;
    filter: blur(9px);
}

.slider2 {

    top: 50%;
    left: 50%;
    transform: translate(-210%, -50%);
    z-index: 1;
    height: 45%;
    width: 15%;
    opacity: 0.7;
    filter: blur(3px);
}

.slider3 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 65%;
    width: 25%;
    opacity: 0.8;
    filter: blur(0);
}


.slider4 {
    top: 50%;
    left: 50%;
    transform: translate(115%, -50%);
    z-index: 1;
    height: 45%;
    width: 15%;
    opacity: 0.7;
    filter: blur(3px);
}

.slider5 {
    top: 50%;
    left: 50%;
    transform: translate(350%, -50%);
    z-index: 0;
    height: 40%;
    width: 10%;
    opacity: 0.5;
    filter: blur(9px);
}

.slider6 {
    top: 50%;
    left: 50%;
    transform: translate(600%, -50%);
    z-index: 0;
    height: 40%;
    width: 10%;
    opacity: 0.5;
    filter: blur(9px);
}



#about-page-dialog {
    max-width: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 40%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: var(--glasmorphism-color);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: 0.5s;
    opacity: 0;
}

#about-page-dialog.open {
    top: 50%;
    opacity: 1;
    transition: 0.5s;
}

.dialog-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#close-dialog-button {
    color: var(--text-muted);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    border: none;
    transition: all 0.3s;
}

#close-dialog-button:hover {
    color: var(--danger-hover-text);
    background-color: var(--danger-hover-bg);
}

#close-dialog-button:focus {
    outline: none;
}